/* font imports from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=PT+Serif+Caption:ital@0;1&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption:ital@0;1&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Oswald:wght@200..700&family=PT+Serif+Caption:ital@0;1&display=swap');

body {
    background-image: url('images/HomePageBG.png');
    background-size: cover;
    background-repeat: no-repeat;
     background-position: center;
    background-attachment: fixed;
}

h1 {
    color: white;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}



#swiftly {
    color: white;
    font-family: "PT Serif Caption", serif;
    font-weight: 500;
    text-align: center;
    line-height: 0%;
    font-size: 125px;
    margin-bottom: 0px;

}

#thread {
    color: white;
    font-family: "Dancing Script", cursive; 
    font-weight: 700;
    text-align: center;
    font-size: 100px;
    margin: 0px;
    text-shadow: 0 0 10px #ffd700, 0 0 30px #ffd700, 0 0 100px #ffd700;

}