body {
    background-image: url('images/HomePageBG.png');
    background-size: cover;
    background-repeat: no-repeat;
     background-position: center;
    background-attachment: fixed;
}

h1 {
    color: white;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}

