@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
    body{
      margin: 0;
      font-family: 'Noto Serif', serif;
      height: 100%
    }

    /* ========== About Page ============= */
    #aboutBody {
            background-image: url('../images/TTPDaboutpage.jpg');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
    }

    #aboutBody img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    /* ================================ */

    /* ========= site title header ==========*/
    .site-title h1, p {
      text-align: center;
      padding: 20px;
      color: #E0DDD8;
    }
    #s-title {
      text-align: center;
      text-transform: none;
    }
    .site-title {
      margin-bottom: 10px; /* Added margin to separate from ul */

    }

    p, h1, h2, h3, a, ul{
      margin: 0;
      padding: 0;
      text-decoration: none;
      color: black;
      text-align: left;
    }

    ul li a {
      color: #27241F;;
    }
    /* =================================== */

    /* nav & footer styles */
    nav{
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;
      border-bottom: 2px solid #27241F;
      text-transform: uppercase;
      background-color: #27241F;
    }
    nav ul{
      display: flex;
      justify-content: space-around;
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%; /* Ensure full width */
      background-color: #8F8677;
    }
    nav li{
      list-style-type: none;
      margin-left: 20px;
      color: #3C2F1F;
      margin-right: 25px;
    }
    nav h1{
      font-size: 3em;
    }
    nav p, nav a{
      color: #777;
      font-weight: 300;
      margin-bottom: 15px;
    }
    footer{
      color: #777;
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 10px;
      border-top: 3px solid #3C2F1F;
    }
    h2{
      margin-bottom: 40px;
    }
    h3{
      text-transform: capitalize;
      margin-bottom: 8px;
    }
    .content{
      margin: 0 113px;
      font-family: 'Courier New', Courier, monospace;
    }

    #blogdeets {
      border-left: 6px solid #8F8677;
      margin: 0 10px;
      padding-left: 15px;
    }

    /* index styles */
    .blogs a{
      display: block;
      margin: 40px 0;
      padding-left: 30px;
      border-left: 6px solid #8F8677;
    }
    .blogs a:hover h3{
      color: #8F8677;
    }

    /* details styles */
    .details{
      position: relative;
    }

     /*================= blog containers =================*/

    #blogBody {
      background-image: url("../images/TTPDcreateBlogBG.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }

    .blog-header {
      text-align: center;
    }

    #blog-container{
      padding: 20px;
      max-width: 800px;
      margin: auto;
      }
          
      /* Styling for each blog group */
    .blog-group {
      border: 1px solid #ccc;
      padding: 15px;
      margin-bottom: 20px;
      border-radius: 5px;
      background-color: #f9f9f9;
      }
          
      /* Styling for blog titles */
    .blog-title {
      margin: 0 0 10px 0;
      font-size: 24px;
      color: #333;
      }
          
      /* Styling for blog bodies */
    .blog-body {
      font-size: 16px;
      color: #666;
     }
          
      /* Styling for blog snippets */
    .blog-snippet {
      font-size: 14px;
      color: #999;
     }
  /*================= blog containers =================*/ 

    .delete{
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
      padding: 8px;
    }
    .delete:hover{
      cursor: pointer;
      box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
    }
    /* ================= create blog styles ================= */
    .create-blog form{
      max-width: 400px;
      margin: auto;
      align-items: center;
    }
    .create-blog h1 {
      text-align: center;
    }
    .create-blog input,
    .create-blog textarea{
      display: block;
      width: 100%;
      margin: 10px 0;
      padding: 8px;
    }
    .create-blog label{
      display: block;
      margin-top: 24px;
    }
    textarea{
      height: 120px;
    }
    .create-blog button{
      margin: 10px auto;
      background: #3C2F1F;;
      color: white;
      padding: 6px;
      border: 0;
      font-size: 1.2em;
      cursor: pointer;
      border-radius: 5px;
      display: block;
    }
    .create-blog button:hover {
      background: #8F8677; /* New background color on hover */
  }
    .create-blog {
      font-weight: bold;
      text-transform: uppercase;
      background-color: #E0DDD8;
    }